{% if pageCount > 1 %}

<div class="btn-group">
    {% if previous is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn btn-default">Previous</a>
    {% endif %}
    {% if next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn btn-primary">Next</a>
    {% endif %}
    {% if pageCount == current %}
        <a href="#" class="btn btn-success">Finish</a>
    {% endif %}
</div>
<div class="clearfix"></div>

<div class="text-center">
    <ul class="pagination">
        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <a href="#" disabled class="disabled">{{ page }}</a>
                </li>
            {% endif %}

        {% endfor %}
    </ul>
</div>
{% endif %}
