{% extends 'base.html.twig' %}

{% block mainContent %}

	{{ form_start(form) }}

		<div class="form-group">
			{{ form_row(form.topic) }}
		</div>
		<div class="form-group">
			{{ form_row(form.csvImport) }}
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">{% if topic %}Import Another{% else %}Import{% endif %}</button>
		</div>
	{{ form_end(form) }}

	{% if app.session.flashBag.has('success') %}
		<div class="alert alert-success">
			{% for msg in app.session.flashBag.get('success') %}
				{{ msg }}
			{% endfor %}
		</div>

	{% endif %}

	{% if topic %}
		<h2>{{ topic.name }}</h2>
		<table class="table table-responsive table-bordered table-striped">
			<tr>
				<th>Question</th>
				<th>Options</th>
			</tr>
			{% for question in topic.questions %}
				<tr>
					<td>{{ question.text }}</td>
					<td>
						<table class="table table-responsive table-bordered table-striped">
							{% for opt in question.options %}
								<tr>
									<td>{{ opt.text }}</td>
									<td width="20">{% if opt.isCorrect %}<i class="fa fa-check text-success"></i>{% endif %}</td>
								</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

{% endblock %}