{% extends 'base.html.twig' %}

{% block mainContent %}
	<h3>New Topic</h3>

	{{ form_start(form) }}
		<div class="form-group">
			{{ form_row(form.name) }}
			{{ form_row(form.description) }}
		</div>

		<button class="btn btn-primary"><i class="icon-download2"></i> Save Topic</button>
	{{ form_end(form) }}

{% endblock %}