{% extends 'base.html.twig' %}

{% block mainContent %}
	<h3>{{ topic.name }}</h3>

	{% if app.session.flashBag.has('success') %}
		<div class="alert alert-success">
			{% for msg in app.session.flashBag.get('success') %}
				{{ msg }}
			{% endfor %}
		</div>
	{% endif %}

	<form method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<input type="hidden" name="topic_id" value="{{ topic.id }}">

		<table class="table table-responsive table-bordered table-striped" id="mainTbl">
			<thead>
				<tr>
					<th>Question</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<td>
						<textarea name="question" rows="10" class="form-control"></textarea>
					</td>
					<td>
						<table class="table table-responsive table-striped">
							<tr>
								<td><input type="text" name="choices[choice][1]" class="form-control"></td>
								<td><input type="checkbox" name="choices[answer][1]" value="1"></td>
							</tr>
							<tr>
								<td><input type="text" name="choices[choice][2]" class="form-control"></td>
								<td><input type="checkbox" name="choices[answer][2]" value="2"></td>
							</tr>
							<tr>
								<td><input type="text" name="choices[choice][3]" class="form-control"></td>
								<td><input type="checkbox" name="choices[answer][3]" value="3"></td>
							</tr>
							<tr>
								<td><input type="text" name="choices[choice][4]" class="form-control"></td>
								<td><input type="checkbox" name="choices[answer][4]" value="4"></td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
			<tr>
				<td colspan="2" class="text-right">
					<button class="btn btn-primary" type="submit" id="addRow">Save</button>
				</td>
			</tr>
		</table>
	</form>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('/js/pages/topic_question_add.min.js') }}"></script>
{% endblock %}