{% extends 'base.html.twig' %}

{% block mainContent %}
	<div class="row">
		{% for topic in topics %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="https://dummyimage.com/400x150" alt="...">
						<div class="caption">
							<h3>{{ topic.name }}</h3>
							{{ topic.description }}
							<hr>
							Number of Questions: {{ topic.questions|length }}
							<hr>
							<div class="btn-group">
								<a href="{{ path('quiz_topic_detail', {id:topic.id}) }}" class="btn btn-default" role="button">Details</a>
								<a href="{{ path('topic_question_add', {id: topic.id}) }}" class="btn btn-primary" role="button">Add Question</a>
								<a href="{{ path('quiz_start', {id: topic.id}) }}" class="btn btn-success" role="button">Start Quiz</a>
							</div>
						</div>
					</div>
				</div>
		{% endfor %}
	</div>

{% endblock %}