{% extends 'base.html.twig' %}

{% block mainContent %}
	{% if quizzes|length %}
		<table class="table table-responsive table-striped">
			<tr>
				<th>Topic</th>
				<th>Date Started</th>
				<th>Date Finished</th>
				<th>Correct</th>
				<th>Wrong</th>
				<th>Percent</th>
				<th>Result</th>
			</tr>
			{% for quiz in quizzes %}
				<tr>
					<td>{{ quiz.topic.name }}</td>
					<td>{{ quiz.started|date('d-m-Y H:i') }}</td>
					<td>
						{% if quiz.completed %}
							{{ quiz.completed|date('d-m-Y H:i') }}
						{% else %}
							<a href="{{ path('quiz_resume', {id: quiz.id}) }}" class="btn btn-info btn-sm">Resume</a>
						{% endif %}
					</td>
					<td>
						{% if quiz.completed %}
							{{ quiz.totalCorrect }}
						{% endif %}
					</td>
					<td>
						{% if quiz.completed %}
							{{ quiz.totalWrong }}
						{% endif %}
					</td>
					<td>
						{% if quiz.completed %}
							{{ quiz.percentage }}%
						{% endif %}
					</td>
					<td>
						{% if quiz.completed %}
							{% if quiz.percentage >= constant('Shann\\QuizBundle\\Entity\\Quiz::PASSING_PERCENTAGE') %}
								<span class="label label-success">Passed</span>
							{% else %}
								<span class="label label-danger">Failed</span>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-info">You haven't taken any quiz yet.  Start <a href="{{ path('topic_index') }}" class="btn btn-info">here</a></div>
	{% endif %}
{% endblock %}