{% extends 'base.html.twig' %}

{% block mainContent %}
	<h3>Topic: {{ quiz.topic.name }}</h3>
	<h2>Percent: {{ quiz.percentage }}%</h2>
	<p>Total # Correct : <b>{{ quiz.totalCorrect }}</b></p>
	<p>Total # Wrong : <b>{{ quiz.totalwrong }}</b></p>
	<p>Date Started: {{ quiz.started|date('d-M-Y H:i') }}</p>
	<p>Date Finished: {{ quiz.completed|date('d-M-Y H:i') }}</p>
{% endblock %}