{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/page/quiz_start.css') }}">
{% endblock %}

{% block mainContent %}
	{% if quizzes is defined %}
		<div class="alert alert-info">You have an unfinished Quiz, what do you want to do?</div>

		<div class="list-group">
			{% for quiz in quizzes %}
				<span class="list-group-item">{{ quiz.topic.name }}
					<a href="{{ path('quiz_resume', {id: quiz.id}) }}" class="btn btn-xs btn-success hidden resume">Resume</a>
				</span>
			{% endfor %}
			<span class="list-group-item">
				<a href="{{ path('quiz_start', {id:topic.id, force: true}) }}" class="btn btn-info btn-md">Start a new Quiz</a>
			</span>
		</div>

	{% else %}
		<form method="post" action="{{ path('quiz_finish', {id: quiz.id}) }}">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="hidden" name="topic_id" value="{{ topic.id }}">
			<input type="hidden" name="quiz_id" value="{{ quiz.id }}">
			<input type="hidden" name="answerPath" value="{{ path('quiz_answer_save') }}">

			<div id="question-div" class="animated fadeIn">
				{% for question in questions %}

					{% set setQ   = (question.question is defined) ? question.question : question %}
					{% set setOpt = (question.answer is defined) ? question.question.options : question.options %}

					<div class="qitem hidden" data-id="{{ setQ.id }}">
						<h3>{{ setQ.text }}</h3>
						{% for option in setOpt %}
							{% if setQ.isMultiple %}
								<div class="checkbox">
									<label>
										<input type="checkbox" name="option-[{{ setQ.id }}][{{option.id}}]"> {{ option.text }}
									</label>
								</div>
							{% else %}
								<div class="radio">
									<label>
										<input type="radio"
											data-quizid="{{ quiz.id }}"
											data-questionid="{{ setQ.id }}"
											data-optionid="{{ option.id }}"
											name="option-{{ setQ.id }}" {% if question.answer is defined and question.answer == option %}checked{% endif %}> {{ option.text }}
									</label>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>

			<div class="text-left">
				<div class="btn-group">
					<button class="btn btn-default directionBtn hidden" data-direction="reverse" id="previous">Previous</button>
					<button class="btn btn-primary directionBtn" data-direction="forward" id="next">Next</button>
					<button class="btn btn-danger hidden" id="finish" type="submit">Finish</button>
				</div>
			</div>
		</form>
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('/js/pages/quiz_start.min.js') }}"></script>
{% endblock %}