<div class="group-btn">
	<a href="{{ path('topic_index') }}" class="btn btn-default">Topics</a>
	<a href="{{ path('topic_new') }}" class="btn btn-default">Add Topic</a>
	<a href="{{ path('quiz_history') }}" class="btn btn-default">Quiz History</a>
	<a href="{{ path('quiz_import') }}" class="btn btn-default">Import Questions</a>
</div>